

.company-name {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.head {
    margin: 10px;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    color:rgb(79, 15, 138);
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-link:hover {
    color:rgb(152, 93, 207);
    text-decoration: underline;
}

.special {
    border-radius: 10px;
    margin-left: 5px;
    background-color: #ad29ce;
}

.special:hover {
    background-color: rgb(59, 23, 92);
}

.banner {
    background-image: url(/images/car-interior-banner.png);
    background-size: cover;
    color: white;
}

.banner-content {
    opacity: 1;
    color: white;  
    z-index: 1;
}

.banner-btn {
    background-color:rgb(235, 197, 236);
    color: black;
}

.banner-btn:hover {
    background-color:rgb(179, 132, 180);
}

body {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.carousel-btns {
    background-color:   #ad29ce;
}

.services-button {
    color: white;

}

.services-button:hover {
    border: 1px solid black;
    background-color: #842a9b;
    color: white;
}

.custom-bg {
    background-color:   #ad29ce;
    color: white;
}

.custom-border {
    border: 1px solid #ad29ce;
}